<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cityguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CityGuide">
        <activity
            android:name=".Success1"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordSuccessMessage"
            android:exported="false" />
        <activity
            android:name=".SetNewPassword"
            android:exported="false" />
        <activity
            android:name=".MakeSelection"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".SignUp3rdClass"
            android:exported="false" />
        <activity
            android:name=".SignUp2ndClass"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".RetailerStartUpScreen"
            android:exported="false" />
        <activity
            android:name=".Add_Missing_Place"
            android:exported="false" />
        <activity
            android:name=".AllCategories"
            android:exported="false" />
        <activity
            android:name=".UserDashboard"
            android:exported="false" />
        <activity
            android:name=".OnBoarding"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>